.App {
  text-align: center;
  font-family: 'handwrite', sans-serif;
}

.App-header {
  background-color: #f8f4f2;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
}

.ghirlanda{
  height: 150px;
  position: absolute;
  top: 20px;
}

.app-title{
  color: #c20909;
  font-weight: 800;
  font-size: 28px;
  position: absolute;
  top: 80px;
  text-shadow: 1px 1px gray;
}

.form-control{
  width: calc(100vw - 60px);
}

.form-question{
  font-family: 'handwrite' !important;
  font-weight: 600 !important;
  font-size: 20px !important;
  color: black !important;
}

.MuiRadio-root{
  color: #c20909 !important;
}

.MuiFormControlLabel-label{
  font-family: 'handwrite' !important;
  font-weight: 400 !important;
  font-size: 20px !important;
}

.next-step-button{
  color: #c20909 !important;
  font-weight: 600 !important;
  text-shadow: 1px 1px gray;
  font-family: 'handwrite' !important;
  font-size: 20px !important;
  text-transform: none !important;
}

.walking-claus{
  height: 30vh;
  pointer-events: none;
  background-color: transparent;
  position: absolute;
  bottom: 10px;
}

@font-face {
  font-family: 'handwrite';
  src: url(./font/Kalam-Light.ttf);
}
